<div class="container">
    <div class="section">
        <div class="row">
            <div class="col offset-s4 s4 m2 offset-m1">
                <img class="responsive-img circle" src="images/logo-medium.png">
            </div>
            <div class="col offset-s1 s10 m8 offset-m1">
                <h4>About Metadict</h4>

                <p>Metadict is a modular meta search engine for dictionaries. With metadict you can look up translations
                    in multiple dictionaries with just a single query. According to the selected languages, Metadict
                    will automatically decide which backend engines should be used to provide the most diverse and
                    accurate results possible.</p>

            </div>
        </div>
        <div class="row" ng-controller="BackendStatusController">
            <div class="col s12 m8 offset-m2">
                <div ng-if="isLoading">
                    <div class="col s12 m4 center">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="isError">
                    <p>Unable to communicate with the backend system. Make sure you are online.</p>
                </div>

                <div ng-if="!isLoading && !isError" class="systemStatusTable">
                    <div class="card blue darken-2">
                        <div class="card-content white-text">
                            <span class="card-title">Backend status</span>
                            <div class="row">
                                <div class="col s6">Server version:</div>
                                <div class="col s6">{{backendStatus.version}}</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Server revision:</div>
                                <div class="col s6">{{backendStatus.revision}}</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Build time:</div>
                                <div class="col s6">{{backendStatus.buildTime}}</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Start time:</div>
                                <div class="col s6">{{backendStatus.startTime}}</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Uptime:</div>
                                <div class="col s6">{{backendStatus.uptime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>