<div class="container">
    <div class="row">
        <div class="col offset-s1 s10 m8 offset-m2">
            <div class="section">
                <h4>Basic querying</h4>

                <p>Metadict allows you to query multiple dictionaries from different search engines at once. Click <i
                        class="material-icons" style="font-size: inherit">settings</i> in the top-right corner select
                    the dictionaries you want to search in. Enter your query and hit <i
                            class="material-icons" style="font-size: inherit">search</i>.</p>

            </div>
            <div class="section">
                <h4>Registration</h4>

                <p>You can use all features of Metadict without registering a user account. However, there are planned
                    features which will let you benefit from a registered user account - this includes vocabulary
                    trainers and social interaction with other users! Click "Register / Login" and create your own - no
                    personal data necessary.</p>
            </div>

            <div class="section">
                <h4>Using Metadict on mobile devices</h4>

                <p>You can use Metadict just like any other webapp on most mobile devices. Check below for your
                    operating system.</p>

                <h5>Android</h5>

                <ol>
                    <li>Open the Metadict page in your web browser</li>
                    <li>Open your browser's menu</li>
                    <li>Select "Add to Home screen" to create an icon</li>
                </ol>

                <h5>iOS</h5>

                <ol>
                    <li>Open the Metadict page in Safari</li>
                    <li>Click the share button</li>
                    <li>Select "Add to Home screen" to create an icon</li>
                </ol>
            </div>

        </div>
    </div>
</div>