<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <h1 class="header center red-text lighten-1">Metadict <span
                class="hide-on-small-and-down">Search Engine</span>
        </h1>
        <br class="hide-on-small-and-down">

    </div>
</div>

<div class="container">
    <div class="section">
        <form>
            <div class="row">
                <div class="input-field col offset-m4 m4 s12">
                    <input id="user_name" type="text" class="validate">
                    <label for="user_name">User Name</label>
                </div>
                <div class="input-field col offset-m4 m4 s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="col offset-m5 m2 offset-s2 s8 btn waves-effect waves-light #0091ea light-blue accent-4"
                        type="submit">Login<i class="material-icons right">send</i></button>
            </div>
            <div class="row">
                <a class="col offset-m5 m2 offset-s2 s8 waves-effect waves-teal btn-flat"
                   ng-href="{{ prependBasePath('/register') }}" type="submit">Register</a>
            </div>
        </form>
    </div>
</div>
