<div ng-controller="NavigationMenuController as nav">
    <div class="col s12 m5">
        <div class="card-panel blue sidenav-card-panel">
            <img ng-src="{{ nav.img }}" class="small-face">
            <p>
                <strong>{{ nav.topHeader }}</strong>
            </p>
            <p>
                <span>{{ nav.subHeader }}</span>
            </p>
        </div>
    </div>
    <div ng-repeat="section in nav.sections()" class="col grey-text text-darken-2">
        <p class="navSectionTitle" ng-if="section.title">{{ section.title }}</p>
        <ul>
            <li ng-repeat="page in section.pages" class="navigationTarget"
                ng-if="(nav.isLoggedIn() && page.loginRequired) || (!nav.isLoggedIn() && !page.loginRequired)">
                <a ng-href="{{ nav.prependBasePath(page.target) }}" class="waves-effect">
                    <i class="material-icons inline align-middle">{{ page.icon }}</i>
                    <span class="align-middle nav-title">{{ page.title }}</span>
                </a>
            </li>
        </ul>
        <div class="divider" ng-if="!$last"></div>
    </div>
</div>

