<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <h1 class="header center red-text lighten-1">Metadict <span
                class="hide-on-small-and-down">Search Engine</span>
        </h1>
        <br class="hide-on-small-and-down">

    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <form class="col s12 push-m2 m8" ng-submit="runSearch()">
                <div class="row">
                    <div class="col input-field s9 m9">
                        <input placeholder="Your search query" id="query_input" name="queryString" type="text"
                               class="validate" autofocus ng-model="searchRequest">
                        <label for="query_input">Search dictionaries...</label>
                        <input id="dictionaryString" type="hidden" name="dictionaries"/>
                    </div>
                    <div class="col s3 m3 right-align">
                        <button id="query_button" data-bind="click: submitQuery" type="submit"
                                class="waves-effect waves-light btn #0091ea light-blue accent-4">
                            <i class="mdi-action-search right"></i>
                            <span class="hide-on-small-only">Find</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Loading indicator -->
    <div class="section" ng-if="isSearching">
        <div class="col s12 m4 center">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Results -->
<div class="row">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <!-- Monolingual Results -->
        <div class="section" ng-if="queryResponse.monolingualEntries && queryResponse.monolingualEntries.length > 0">
            <h5>Monolingual entries:</h5>
            <div class="row">
                <monolingual-entry class="col s12 m12 l6" entry="entry" ng-repeat="entry in queryResponse.monolingualEntries"></monolingual-entry>
            </div>
        </div>
        <!-- Bilingual Results -->
        <div class="section" ng-repeat="bilingualResultGroup in queryResponse.groupedBilingualEntries">
            <h5>{{bilingualResultGroup.groupIdentifier}}:</h5>
            <table class="striped">
                <tbody data-bind="foreach: $data.resultEntries">
                <tr ng-repeat="entry in bilingualResultGroup.resultEntries" class="valign-wrapper">
                    <td class="dictionaryObjectCell left">
                        <dictionary-object entry="entry.source"></dictionary-object>
                    </td>
                    <td class="entryTypeCell center row">
                        <div>
                            <span class="flag-icon" ng-class="buildIconClass(entry.source.language)"></span>
                            <span class="flag-icon" ng-class="buildIconClass(entry.target.language)"></span>
                        </div>
                        <div>{{formatEntryType(entry.entryType)}}</div>
                    </td>
                    <td class="dictionaryObjectCell right align-right">
                        <dictionary-object entry="entry.target"></dictionary-object>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Similar recommendations -->
        <div class="section" ng-if="queryResponse.similarRecommendations && queryResponse.similarRecommendations.length > 0">
            <div class="divider"></div>
            <h5>Similar words:</h5>

            <div class="col s4 m3 l2" ng-repeat="recommendation in queryResponse.similarRecommendations">
                <span class="flag-icon" ng-class="buildIconClass(recommendation.language)"></span>
                <span>{{recommendation.generalForm}}</span>
            </div>
    </div>
</div>
