<div ng-controller="SelectDictionariesMenuController as selectDictionariesController">
    <div class="col s12 m4 center" ng-if="loadingDictionaries">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m5" ng-if="availableDictionaries.length === 0 && !loadingDictionaries">
        <div class="card-panel red sidenav-card-panel">
            <p><strong>Couldn't load dictionaries.</strong></p>
        </div>
    </div>

    <ul class="grey-text text-darken-2">
        <li ng-repeat="dictionary in availableDictionaries" class="dictionaryList"
        ng-click="selectDictionariesController.toggleSelection(dictionary.queryStringWithDialect)"
        >
            <span>
                <span class="flag-icon" ng-class="selectDictionariesController.buildIconClass(dictionary.input)"></span>
                <span class="flag-icon"
                      ng-class="selectDictionariesController.buildIconClass(dictionary.output)"></span>
                <span>{{dictionary.input.displayName}}</span>&nbsp;-&nbsp;<span>{{dictionary.output.displayName}}</span>
            </span>
            <span class="switch right">
                <label>
                    <input type="checkbox"
                           ng-change=""
                           ng-model="selectionMap[dictionary.queryStringWithDialect]">
                    <span class="lever"></span>
                </label>
            </span>
        </li>
    </ul>
</div>